src/main/mule/weekeleven_exercise.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="578a083e-b29e-4ed2-a867-359086c4aceb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="weekeleven_exerciseFlow" doc:id="26a78bbf-103c-4c32-a718-e9da3d24dfce" >
		<http:listener doc:name="Listener" doc:id="203989a0-fb18-4bc6-8ebf-5dc331640361" config-ref="HTTP_Listener_config" path="/weekEleven"/>
		<logger level="INFO" doc:name="Logger" doc:id="0540652b-789a-4471-9589-ee9bf7b9f027" message="cicd test started"/>
		<ee:transform doc:name="Transform Message" doc:id="bbcd443e-74ee-4910-b06b-c127698f02cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Week eleven exercise completed successfully!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4745e647-446e-4c08-ad10-c905be9972ef" message="#[payload]"/>
	</flow>
</mule>
